<div class="row">
  <div class="col-0 col-sm-0 col-lg-0"></div>
  <div class="col-12 col-sm-7 col-lg-6">
    <img class="img-responsive maxWidth" src="../../assets/images/rectangularFullyFittedParam.png">
  </div>
  <div class="col-12 col-sm-5 col-lg-6 d-flex flex-row">
    <div class="align-self-center">
      <p>Room width: <br>
        <input type="text" name="roomWidth"></p>
      <p>Room height: <br>
        <input type="text" name="roomHeight"></p>
    </div>
  </div>
</div>
<app-navigation previousPage="/splashPage" nextPage="/questionPage">Loading...</app-navigation>
