<div class="row">
  <div class="col- col-sm col-md">
    <app-parameters-page *ngIf="currentQuestionNo == 1" (onChangeMade)="onChangeMade($event)">Loading...</app-parameters-page>
    <app-door-position-page *ngIf="currentQuestionNo == 2" (onChangeMade)="onChangeMade($event)">Loading...</app-door-position-page>
    <app-tub-parameters-page *ngIf="currentQuestionNo == 3" (onChangeMade)="onChangeMade($event)">Loading...</app-tub-parameters-page>
    <app-first-question-page *ngIf="currentQuestionNo == 4" (onChangeMade)="onChangeMade($event)">Loading...</app-first-question-page>
    <app-second-question-page *ngIf="currentQuestionNo == 5">Loading...</app-second-question-page>
    <app-third-question-page *ngIf="currentQuestionNo == 6">Loading...</app-third-question-page>
  </div>
  <div class="col- col-sm col-md">
    <app-dynamic-canvas [changeMade]="userChangeMade"></app-dynamic-canvas>
  </div>
</div>

<!-- custom navigation required-->
<div class="row" *ngIf="currentQuestionNo == 1">
  <div class="col-6">
    <a class="float-left" routerLink="/splashPage">Previous Page</a>
  </div>
  <div class="col-6">
    <p class="float-right clickable" (click)="nextQuestion()">Next Page</p>
  </div>
</div>
<div class="row" *ngIf="currentQuestionNo > 1 && currentQuestionNo < totalQuestionNo">
  <div class="col-6">
    <p class="float-left clickable" (click)="previousQuestion()">Previous Page</p>
  </div>
  <div class="col-6">
    <p class="float-right clickable" (click)="nextQuestion()">Next Page</p>
  </div>
</div>
<div class="row" *ngIf="currentQuestionNo == totalQuestionNo">
  <div class="col-6">
    <p class="float-left clickable" (click)="previousQuestion()">Previous Page</p>
  </div>
  <div class="col-6">
    <a class="float-right" routerLink="/summaryPage">Next Page</a>
  </div>
</div>
