<div class="row">
  <div class="col- col-sm col-md">
    <app-parameters-page *ngIf="currentQuestionNo == 1" (onChangeMade)="pageChangeMade($event)">Loading...</app-parameters-page>
    <app-door-position-page *ngIf="currentQuestionNo == 2" (onChangeMade)="pageChangeMade($event)">Loading...</app-door-position-page>
    <app-tub-parameters-page *ngIf="currentQuestionNo == 3" (onChangeMade)="pageChangeMade($event)">Loading...</app-tub-parameters-page>
    <app-placeholders-page *ngIf="currentQuestionNo == 4" (onChangeMade)="pageChangeMade($event)">Loading...</app-placeholders-page>
  </div>
  <div class="col- col-sm col-md">
    <app-dynamic-canvas [changeMade]="pageChange" (onChangeMade)="canvasChangeMade($event)"></app-dynamic-canvas>
  </div>
</div>

<!-- custom navigation within this component -->
<div class="row" *ngIf="currentQuestionNo == 1">
  <div class="col-6">
    <a class="float-left" routerLink="/splashPage">Previous Page</a>
  </div>
  <div class="col-6">
    <p class="float-right clickable" (click)="nextQuestion()">Next Page</p>
  </div>
</div>
<div class="row" *ngIf="currentQuestionNo > 1 && currentQuestionNo < totalQuestionNo">
  <div class="col-6">
    <p class="float-left clickable" (click)="previousQuestion()">Previous Page</p>
  </div>
  <div class="col-6">
    <p class="float-right clickable" (click)="nextQuestion()">Next Page</p>
  </div>
</div>
<div class="row" *ngIf="currentQuestionNo == totalQuestionNo">
  <div class="col-6">
    <p class="float-left clickable" (click)="previousQuestion()">Previous Page</p>
  </div>
  <div class="col-6">
    <a class="float-right" routerLink="/summaryPage">Next Page</a>
  </div>
</div>

<!-- Modal window that comes up when placeholder is selected -->
<div bsModal #productsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Select item to go in placeholders place</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideProductsModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="selectionsMadeService.getSelectedPlaceholderWidth() >= smallProductWidthNeeded
          || selectionsMadeService.getSelectedPlaceholderLength() >= smallProductWidthNeeded">
          <div class="col-md-12">Small products</div>
          <div *ngFor="let smallProduct of smallProductImagePaths" class="col-md-3">
            <img class="img-fluid" [src]="productImagesFolderPath + smallProduct" (click)="productChosen($event.target.src)" />
          </div>
        </div>
        <div class="row" *ngIf="selectionsMadeService.getSelectedPlaceholderWidth() >= mediumProductWidthNeeded
          || selectionsMadeService.getSelectedPlaceholderLength() >= mediumProductWidthNeeded">
          <div class="col-md-12">Medium products</div>
          <div *ngFor="let mediumProduct of mediumProductImagePaths" class="col-md-3">
            <img class="img-fluid" [src]="productImagesFolderPath + mediumProduct" (click)="productChosen($event.target.src)" />
          </div>
        </div>
        <div class="row" *ngIf="selectionsMadeService.getSelectedPlaceholderWidth() >= largeProductWidthNeeded
          || selectionsMadeService.getSelectedPlaceholderLength() >= largeProductWidthNeeded">
          <div class="col-md-12">Large products</div>
          <div *ngFor="let largeProduct of largeProductImagePaths" class="col-md-3">
            <img class="img-fluid" [src]="productImagesFolderPath + largeProduct" (click)="productChosen($event.target.src)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
