<!--The content below is only a placeholder and can be replaced.-->
<div ngClass="container">

  <a routerLink=""><i class="material-icons">home</i> Go to home page</a>

  <router-outlet></router-outlet>

  <div class="progress">
    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': this.selectionsMadeService.getProgress() + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{this.selectionsMadeService.getProgress()}}%</div>
  </div>

  <!--<div class="row">
    <div class="col- col-sm col-md">
      <h2>Here are some links to help you start: </h2>
      <ul>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
        </li>
        <li>
          <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
        </li>
      </ul>
    </div>
  </div> -->
</div>
