<div class="row">
  <div class="col-12">
    <form>
      Where are the doors to your bathroom placed?
      <br />
      <input type="radio" name="doorRadio" id="doorRadio1" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[0]" (ngModelChange)="doorPositionChanged()">
      <label for="doorRadio1">{{doorPositionOptions[0]}}</label>
      <input type="radio" name="doorRadio" id="doorRadio2" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[1]" (ngModelChange)="doorPositionChanged()">
      <label for="doorRadio2">{{doorPositionOptions[1]}}</label>
      <input type="radio" name="doorRadio" id="doorRadio3" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[2]" (ngModelChange)="doorPositionChanged()">
      <label for="doorRadio3">{{doorPositionOptions[2]}}</label>
    </form>
    <p>{{doorPositionChosen}}</p>
  </div>
</div>
