<div class="row">
  <div class="col-12">
    <form>
      Are the doors opening inwards or outwards the bathroom?
      <br />
      <input type="radio" name="doorOpeningRadio" id="doorOpeningRadio1" [(ngModel)]="doorOpeningType" value="Inwards" (ngModelChange)="doorOpeningTypeChanged()">
      <label for="doorOpeningRadio1">Inwards</label>
      <input type="radio" name="doorOpeningRadio" id="doorOpeningRadio2" [(ngModel)]="doorOpeningType" value="Outwards" (ngModelChange)="doorOpeningTypeChanged()">
      <label for="doorOpeningRadio2">Outwards</label>
    </form>
    <form>
      Where are the doors to your bathroom placed?
      <br />
      <input type="radio" name="doorPositionRadio" id="doorPositionRadio1" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[0]" (ngModelChange)="doorPositionChanged()">
      <label for="doorPositionRadio1">{{doorPositionOptions[0]}}</label>
      <input type="radio" name="doorPositionRadio" id="doorPositionRadio2" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[1]" (ngModelChange)="doorPositionChanged()">
      <label for="doorPositionRadio2">{{doorPositionOptions[1]}}</label>
      <input type="radio" name="doorPositionRadio" id="doorPositionRadio3" [(ngModel)]="doorPositionChosen" [value]="doorPositionOptions[2]" (ngModelChange)="doorPositionChanged()">
      <label for="doorPositionRadio3">{{doorPositionOptions[2]}}</label>
    </form>
  </div>
</div>
