<div class="row">
  <div class="col-12">
    <div style="text-align:center">
      <div class="row">
        <div class="col-12">
          <h1 name="title">
            Welcome to bathroom configurator!
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <img class="rounded img-fluid" [src]="assetsFolderPath + 'other/MerewayBathrooms-HomeSliders3.jpg'">
        </div>
      </div>
    </div>
  </div>
</div>

<p>Mereway Bathrooms are one of the largest independent bathroom furniture manufacturers in the UK, providing quality bathroom products through high street retailers and merchants.</p>
<p>Please click on the "Next Page" on the right to start configurating your bathroom.</p>

<div class="row">
  <div class="col-12">
    <a class="float-right" routerLink="/questionPage">Click here to get started!</a>
  </div>
</div>
