<div class="row">
  <div class="col-12">
    <p>Bath tub/shower width: <br>
      <input (change)="setTubWidth($event)" [value]="selectionsMadeService.getTubWidth()" type="text" name="tubWidth"> mm</p>
    <p>Bath tub/shower length: <br>
      <input (change)="setTubLength($event)" [value]="selectionsMadeService.getTubLength()" type="text" name="tubLength"> mm</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <form>
      Where is the bath tub/shower placed?
      <br />
      <span *ngIf="tubPositionAvailableOptions >= 1">
    <input type="radio" name="tubRadio" id="tubRadio1" [(ngModel)]="tubPositionChosen" [value]="tubPositionOptions[0]" (ngModelChange)="tubPositionChanged()">
    <label for="tubRadio1">{{tubPositionOptions[0]}}</label>
  </span>
      <span *ngIf="tubPositionAvailableOptions >= 3">
  <input type="radio" name="tubRadio" id="tubRadio2" [(ngModel)]="tubPositionChosen" [value]="tubPositionOptions[1]" (ngModelChange)="tubPositionChanged()">
    <label for="tubRadio2">{{tubPositionOptions[1]}}</label>
  </span>
      <span *ngIf="tubPositionAvailableOptions >= 2">
    <input type="radio" name="tubRadio" id="tubRadio3" [(ngModel)]="tubPositionChosen" [value]="tubPositionOptions[2]" (ngModelChange)="tubPositionChanged()">
    <label for="tubRadio3">{{tubPositionOptions[2]}}</label>
  </span>
    </form>
    <p>{{tubPositionChosen}}</p>
  </div>
</div>
