<div class="row">
  <div class="col-12">
    <p>Bath tub/shower width: <br>
      <input (change)="setTubWidth($event)" [value]="selectionsMadeService.getTubWidth()" type="number" name="tubWidth"> mm</p>
    <p>Bath tub/shower length: <br>
      <input (change)="setTubLength($event)" [value]="selectionsMadeService.getTubLength()" type="number" name="tubLength"> mm</p>
  </div>
</div>

<div class="row">
  <div class="col-12">
    Where is the bath tub/shower placed?
    <br />
    <div class="btn-group" dropdown>
      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle btn-clickable">
        Change bath tub position ({{tubPositionChosen}})<span class="caret"></span>
      </button>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li *ngFor="let tubPosition of tubPositionOptions" [ngClass]="{'chosenDropdownItem': tubPosition === tubPositionChosen}" role="menuitem"><a class="dropdown-item btn-clickable" (click)="tubPositionChanged(tubPosition)">{{tubPosition}}</a></li>
      </ul>
    </div>
  </div>
  <div class="col-12">

  </div>
</div>
